@{
    ViewData["Title"] = "Home Page";
}

<h4>Stack Overflow Survey Charts</h4>
<br />
<div class="container">
    <div class="row">
        <div id="countrySelectorContainer">
            <div class="form-group">
                <label for="countrySelector">Example select</label>
                <select class="form-control" id="countrySelector">
                </select>
            </div>
        </div>

    </div>

</div>
@section Scripts {
    <script type="module" src="~/js/home.js"></script>
    <script type="module" src="~/js/utils.js"></script>
}